<div class="card border-primary mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Clients list</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']">New Client</button>
    </div>

    <div *ngIf="clients?.length == 0" class="alert-info">
      There is no clients in database
    </div>

    <table class="table table-bordered table-striped" *ngIf="clients?.length > 0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>E-mail</th>
          <th>Create At</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.id}}</td>
          <td>{{client.firstName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.email}}</td>
          <td>{{client.createAt}}</td>
          <td>
            <button type="button" name="button" [routerLink]="['/clients/form', client.id]" class="btn btn-primary">Edit</button>
          </td>
          <td>
            <button type="button" name="button" (click)='delete(client)' class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
